# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=;
BOT_TOKEN= NzY5MTg2ODQwODIwODQyNTI2.X5LXEQ.PU9TA7CSANXbPd6TdEIQUpbQuKQ
YTAPI_KEY=AIzaSyDGkXQjrDhZhzBCdW_hkhCqKotWc6p8FjU
PROJECT_DOMAIN= music-bot
